server:
    port: 8080

spring:
  thymeleaf:
    cache: false
  devtools:
    restart:
      enabled: true

  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@//192.168.219.103:1521/XEPDB1     # ✅ 지금은 네가 말한 것처럼 192.168.219.103으로 통일해서 박자 (맥/윈 공통)
    username: sangzoon0102
    password: seoul01!!cns
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      validation-timeout: 5000
      idle-timeout: 600000
      max-lifetime: 1800000

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.jdbc.core: DEBUG
    org.springframework.jdbc.datasource: DEBUG
